.header {
    font-family: Arial, Helvetica, sans-serif;
    color: #E94D52;
    padding: 10px;
    text-align: center;

}

.header2 {
    padding: 10px;
    font-size: 20px;
    text-align: center;
}

.hobbies {
    display: "flex";
    justify-content: space-between;
    background-color: #F2A3AE;
    color: #0F2CA0;
    width: auto;
    height: fit-content;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    border: 8px solid #0F2CA0;
}

.dumboimg {
    padding: 10px;
    width: 100%;
    height: auto;
}

.romeimg {
    padding: 10px;
    width: 100%;
    height: auto;
}

.firenzeimg {
    padding: 10px;
    width: 100%;
    height: auto;
}

.images {
    display: flex;
    width: fit-content;
    height: fit-content;
}